{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-modules-commonjs", {
        "strictMode": false
      }
    ],
    [
      "@babel/plugin-transform-runtime", {
        "helpers": false,
        "regenerator": true
      }
    ]
  ]
}
